/*----------------------Fonts---------------------------------*/

/*----------------Dancing Script----------------*/
@font-face {
  font-family: 'DancingScript'; /* Give your font a name */
  src: url('/public/fonts/DancingScript/Fonts/OTF/DancingScript-Regular.otf') format('opentype');
}
/*----------------Kohinoor One----------------*/
@font-face {
  font-family: 'Kohinoor'; /* Give your font a name */
  src: url('/public/fonts/KohinoorZerone_Complete/Fonts/OTF/KohinoorZerone-One.otf') format('opentype');
}
/*----------------Cabinet----------------*/
@font-face {
  font-family: 'Cabinet-thin'; /* Give your font a name */
  src: url('/public/fonts/CabinetGrotesk_Complete/Fonts/OTF/CabinetGrotesk-Thin.otf') format('opentype');
}

/*----------------Boska----------------*/
@font-face {
  font-family: 'Boska-light'; /* Give your font a name */
  src: url('/public/fonts/Boska_Complete/Fonts/OTF/Boska-Light.otf') format('opentype');
}

/*----------------Gambarino----------------*/
@font-face {
  font-family: 'Gambarino'; /* Give your font a name */
  src: url('/public/fonts/Gambarino_Complete/Fonts/OTF/Gambarino-Regular.otf') format('opentype');
}