/*----------------------Fonts---------------------------------*/

/*----------------Dancing Script----------------*/
@font-face {
  font-family: 'DancingScript'; /* Give your font a name */
  src: url('/fonts/DancingScript/Fonts/OTF/DancingScript-Regular.otf') format('opentype');
}
/*----------------Kohinoor One----------------*/
@font-face {
  font-family: 'Kohinoor'; /* Give your font a name */
  src: url('/fonts/KohinoorZerone_Complete/Fonts/OTF/KohinoorZerone-One.otf') format('opentype');
}
/*----------------Cabinet----------------*/
@font-face {
  font-family: 'Cabinet-thin'; /* Give your font a name */
  src: url('/fonts/CabinetGrotesk_Complete/Fonts/OTF/CabinetGrotesk-Thin.otf') format('opentype');
}

/*----------------Boska----------------*/
@font-face {
  font-family: 'Boska-light'; /* Give your font a name */
  src: url('/fonts/Boska_Complete/Fonts/OTF/Boska-Light.otf') format('opentype');
}

/*----------------Gambarino----------------*/
@font-face {
  font-family: 'Gambarino'; /* Give your font a name */
  src: url('/fonts/Gambarino_Complete/Fonts/OTF/Gambarino-Regular.otf') format('opentype');
}

/*----------------MonsaSans----------------*/
@font-face {
  font-family: 'Monsa-Bold'; /* Give your font a name */
  src: url('/fonts/MonsaSans/Fonts/MonaSans-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Monsa-Semi'; /* Give your font a name */
  src: url('/fonts/MonsaSans/Fonts/MonaSans-SemiBold.otf') format('opentype');
}
@font-face {
  font-family: 'Monsa-Medium'; /* Give your font a name */
  src: url('/fonts/MonsaSans/Fonts/MonaSans-Medium.otf') format('opentype');
}


/*----------------Cavet----------------*/
@font-face {
  font-family: 'Cavet'; /* Give your font a name */
  src: url('/fonts/Cavet/Caveat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

/*----------------Indie_flower----------------*/
@font-face {
  font-family: 'Indieflower'; /* Give your font a name */
  src: url('/fonts/Indie_flower/IndieFlower-Regular.ttf') format('truetype');
}

/*----------------LuckiestGuy----------------*/
@font-face {
  font-family: 'LuckiestGuy'; /* Give your font a name */
  src: url('/fonts/LuckiestGuy/LuckiestGuy-Regular.ttf') format('truetype');
}

/*----------------Manrope----------------*/
@font-face {
  font-family: 'Manrope'; /* Give your font a name */
  src: url('/fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}


/*----------------Satisfy----------------*/
@font-face {
  font-family: 'Satisfy'; /* Give your font a name */
  src: url('/fonts/Satisfy/Satisfy-Regular.ttf') format('truetype');
}

/*----------------------Allura---------------------------------*/
@font-face {
  font-family: 'Allura'; /* Give your font a name */
  src: url('/fonts/Allura/Allura-Regular.ttf') format('truetype');
}
/*----------------------Poppins---------------------------------*/
@font-face {
  font-family: 'Poppins-Thin'; /* Give your font a name */
  src: url('/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-ExtraLight'; /* Give your font a name */
  src: url('/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Light'; /* Give your font a name */
  src: url('/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}